<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='/css/secret.css' type="text/css">
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/fetch.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="rate">
        <div class="vote">
            <div class="wrap">
                <div class="title">
                    <div class="n">Как Вам тест?</div>
                    <div class="d">Пожалуйста, расскажите нам об этом. Это важно!</div>
                </div>
                <div class="list">
                    <div class="star" data-rate="1"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 80 80" xml:space="preserve">
                       <path type="back" d="M39.5,5.9c0.2-0.4,0.7-0.4,0.9,0l9.7,22.4c0.2,0.5,0.7,0.8,1.2,0.9l24.3,2.3
                       c0.4,0,0.6,0.6,0.3,0.9L57.7,48.5c-0.4,0.4-0.6,0.9-0.5,1.5l5.3,23.8c0.1,0.4-0.4,0.8-0.7,0.5l-21-12.4c-0.5-0.3-1.1-0.3-1.5,0
                       l-21,12.4c-0.4,0.2-0.8-0.1-0.7-0.5L22.8,50c0.1-0.5-0.1-1.1-0.5-1.5L4,32.4c-0.3-0.3-0.2-0.8,0.3-0.9l24.3-2.3
                       c0.5-0.1,1-0.4,1.2-0.9L39.5,5.9z"/>
                       <path type="star" d="M39.1,25.7c0.3-0.8,1.5-0.8,1.8,0l4.3,9.9
                       c0.1,0.3,0.5,0.6,0.8,0.6l10.7,1c0.9,0.1,1.2,1.2,0.6,1.7L49.2,46c-0.3,0.2-0.4,0.6-0.3,1l2.3,10.5c0.2,0.9-0.7,1.5-1.5,1.1
                       l-9.3-5.5c-0.3-0.2-0.7-0.2-1,0l-9.3,5.5c-0.8,0.4-1.7-0.2-1.5-1.1L31.1,47c0.1-0.4,0-0.7-0.3-1l-8.1-7.1c-0.7-0.6-0.3-1.7,0.6-1.7
                       l10.7-1c0.4,0,0.7-0.3,0.8-0.6L39.1,25.7z"/>
                      </svg></div>
                    <div class="star" data-rate="2"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 80 80" xml:space="preserve">
                       <path type="back" d="M39.5,5.9c0.2-0.4,0.7-0.4,0.9,0l9.7,22.4c0.2,0.5,0.7,0.8,1.2,0.9l24.3,2.3
                       c0.4,0,0.6,0.6,0.3,0.9L57.7,48.5c-0.4,0.4-0.6,0.9-0.5,1.5l5.3,23.8c0.1,0.4-0.4,0.8-0.7,0.5l-21-12.4c-0.5-0.3-1.1-0.3-1.5,0
                       l-21,12.4c-0.4,0.2-0.8-0.1-0.7-0.5L22.8,50c0.1-0.5-0.1-1.1-0.5-1.5L4,32.4c-0.3-0.3-0.2-0.8,0.3-0.9l24.3-2.3
                       c0.5-0.1,1-0.4,1.2-0.9L39.5,5.9z"/>
                       <path type="star" d="M39.1,25.7c0.3-0.8,1.5-0.8,1.8,0l4.3,9.9
                       c0.1,0.3,0.5,0.6,0.8,0.6l10.7,1c0.9,0.1,1.2,1.2,0.6,1.7L49.2,46c-0.3,0.2-0.4,0.6-0.3,1l2.3,10.5c0.2,0.9-0.7,1.5-1.5,1.1
                       l-9.3-5.5c-0.3-0.2-0.7-0.2-1,0l-9.3,5.5c-0.8,0.4-1.7-0.2-1.5-1.1L31.1,47c0.1-0.4,0-0.7-0.3-1l-8.1-7.1c-0.7-0.6-0.3-1.7,0.6-1.7
                       l10.7-1c0.4,0,0.7-0.3,0.8-0.6L39.1,25.7z"/>
                      </svg></div>
                    <div class="star" data-rate="3"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 80 80" xml:space="preserve">
                       <path type="back" d="M39.5,5.9c0.2-0.4,0.7-0.4,0.9,0l9.7,22.4c0.2,0.5,0.7,0.8,1.2,0.9l24.3,2.3
                       c0.4,0,0.6,0.6,0.3,0.9L57.7,48.5c-0.4,0.4-0.6,0.9-0.5,1.5l5.3,23.8c0.1,0.4-0.4,0.8-0.7,0.5l-21-12.4c-0.5-0.3-1.1-0.3-1.5,0
                       l-21,12.4c-0.4,0.2-0.8-0.1-0.7-0.5L22.8,50c0.1-0.5-0.1-1.1-0.5-1.5L4,32.4c-0.3-0.3-0.2-0.8,0.3-0.9l24.3-2.3
                       c0.5-0.1,1-0.4,1.2-0.9L39.5,5.9z"/>
                       <path type="star" d="M39.1,25.7c0.3-0.8,1.5-0.8,1.8,0l4.3,9.9
                       c0.1,0.3,0.5,0.6,0.8,0.6l10.7,1c0.9,0.1,1.2,1.2,0.6,1.7L49.2,46c-0.3,0.2-0.4,0.6-0.3,1l2.3,10.5c0.2,0.9-0.7,1.5-1.5,1.1
                       l-9.3-5.5c-0.3-0.2-0.7-0.2-1,0l-9.3,5.5c-0.8,0.4-1.7-0.2-1.5-1.1L31.1,47c0.1-0.4,0-0.7-0.3-1l-8.1-7.1c-0.7-0.6-0.3-1.7,0.6-1.7
                       l10.7-1c0.4,0,0.7-0.3,0.8-0.6L39.1,25.7z"/>
                      </svg></div>
                    <div class="star" data-rate="4"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 80 80" xml:space="preserve">
                       <path type="back" d="M39.5,5.9c0.2-0.4,0.7-0.4,0.9,0l9.7,22.4c0.2,0.5,0.7,0.8,1.2,0.9l24.3,2.3
                       c0.4,0,0.6,0.6,0.3,0.9L57.7,48.5c-0.4,0.4-0.6,0.9-0.5,1.5l5.3,23.8c0.1,0.4-0.4,0.8-0.7,0.5l-21-12.4c-0.5-0.3-1.1-0.3-1.5,0
                       l-21,12.4c-0.4,0.2-0.8-0.1-0.7-0.5L22.8,50c0.1-0.5-0.1-1.1-0.5-1.5L4,32.4c-0.3-0.3-0.2-0.8,0.3-0.9l24.3-2.3
                       c0.5-0.1,1-0.4,1.2-0.9L39.5,5.9z"/>
                       <path type="star" d="M39.1,25.7c0.3-0.8,1.5-0.8,1.8,0l4.3,9.9
                       c0.1,0.3,0.5,0.6,0.8,0.6l10.7,1c0.9,0.1,1.2,1.2,0.6,1.7L49.2,46c-0.3,0.2-0.4,0.6-0.3,1l2.3,10.5c0.2,0.9-0.7,1.5-1.5,1.1
                       l-9.3-5.5c-0.3-0.2-0.7-0.2-1,0l-9.3,5.5c-0.8,0.4-1.7-0.2-1.5-1.1L31.1,47c0.1-0.4,0-0.7-0.3-1l-8.1-7.1c-0.7-0.6-0.3-1.7,0.6-1.7
                       l10.7-1c0.4,0,0.7-0.3,0.8-0.6L39.1,25.7z"/>
                      </svg></div>
                    <div class="star" data-rate="5"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 80 80" xml:space="preserve">
                       <path type="back" d="M39.5,5.9c0.2-0.4,0.7-0.4,0.9,0l9.7,22.4c0.2,0.5,0.7,0.8,1.2,0.9l24.3,2.3
                       c0.4,0,0.6,0.6,0.3,0.9L57.7,48.5c-0.4,0.4-0.6,0.9-0.5,1.5l5.3,23.8c0.1,0.4-0.4,0.8-0.7,0.5l-21-12.4c-0.5-0.3-1.1-0.3-1.5,0
                       l-21,12.4c-0.4,0.2-0.8-0.1-0.7-0.5L22.8,50c0.1-0.5-0.1-1.1-0.5-1.5L4,32.4c-0.3-0.3-0.2-0.8,0.3-0.9l24.3-2.3
                       c0.5-0.1,1-0.4,1.2-0.9L39.5,5.9z"/>
                       <path type="star" d="M39.1,25.7c0.3-0.8,1.5-0.8,1.8,0l4.3,9.9
                       c0.1,0.3,0.5,0.6,0.8,0.6l10.7,1c0.9,0.1,1.2,1.2,0.6,1.7L49.2,46c-0.3,0.2-0.4,0.6-0.3,1l2.3,10.5c0.2,0.9-0.7,1.5-1.5,1.1
                       l-9.3-5.5c-0.3-0.2-0.7-0.2-1,0l-9.3,5.5c-0.8,0.4-1.7-0.2-1.5-1.1L31.1,47c0.1-0.4,0-0.7-0.3-1l-8.1-7.1c-0.7-0.6-0.3-1.7,0.6-1.7
                       l10.7-1c0.4,0,0.7-0.3,0.8-0.6L39.1,25.7z"/>
                      </svg></div>
                </div>
            </div>
        </div>
        <div class="result">
            <div class="wrap">
                <div class="title">
                <div class="n">Николай, спасибо!</div>
                <div class="d">Каждый отзыв очень важен для нас :)</div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){

        var isTouchDevice = 'ontouchstart' in document.documentElement;
        $(".star").mouseover(function(event) {
        if (isTouchDevice == false) {   
            $(this).children().find('path[type=star]').css({'fill': 'rgba(247,217,133, 0.2)'});
            $(this).children().find('path[type=back]').css({'stroke': 'rgba(247,217,133, 0.2)'}); 
        }
    });
    $(".star").mouseout(function(event) {
        if (isTouchDevice == false) {   
            $(this).children().find('path[type=star]').css({'fill': 'rgba(255,255,255,0.2)'});
            $(this).children().find('path[type=back]').css({ 'stroke': 'black'});
        }
    });
    $('.star').on('touchstart', function(){
        if (isTouchDevice)  {   
            $(this).children().find('path[type=star]').css({'fill': 'rgba(247,217,133, 0.2)'});
            $(this).children().find('path[type=back]').css({'stroke': 'rgba(247,217,133, 0.2)'});
        }
    });
    $('.star').on('touchend', function(){
        if (isTouchDevice)  {   
            $(this).children().find('path[type=star]').css({'fill': 'rgba(255,255,255,0.2)'});
            $(this).children().find('path[type=back]').css({ 'stroke': 'black'});
        }
    });
});
        var ratingItem = $(".star");
        var rating = $(".list");
         $(".star").click(async function () {
                var data = $(this).attr('data-rate');
                const res = await fetch("/s", {
                    method: "post",
                    headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        data: data
                    })
                    })
                    const response = await res.json()
                    console.log(response)
                });
        ratingItem.click(function(e) {
        var target = $(e.target).parent().parent()
        if(target.hasClass("star")) {
            console.log( $(this))
            $(this).addClass('active')
            $(this).children().find('path[type=star]').css({'fill': 'rgba(247,217,133)'})
               mouseOverActive(ratingItem)
            ratingItem.unbind('mouseover mouseout')
                $(".star:eq(0)").addClass( "slideRight" );
                $(".star:eq(1)").addClass( "slideRight2" );
                $(".star:eq(3)").addClass( "slideRight4" );
                $(".star:eq(4)").addClass( "slideRight5" );
            setTimeout(function(){
                $('.vote').css({'display': 'none'})
                $('.result').css({'display': 'block'})
            }, 2000)
            }
  
        })
        function mouseOverActive(arr) {
            for(let i = 0; i < arr.length; i++){
                    if($(arr[i]).hasClass('active')) {
                        break;
                    }else {
                        $(arr[i]).children().find('path[type=star]').css({'fill': 'rgba(247,217,133)'});
                        $(arr[i]).children().find('path[type=back]').css({'stroke': 'black'})
                    }
            }
        }
    </script>
</body>
</html>