@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;

     font-family: Roboto;
}
#rate {
    background: #1B1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#rate>.result {
    display: none;
}
#rate .title>.n {
    font-size: 32px;
    color: #F7D985;
    text-align: center;
}

#rate .title>.d {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

#rate .wrap {
    padding: 5%;
}


#rate>.vote .list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}


#rate>.vote .list>.star {
  width: 94px;
  height: 91px;
}

/* .list>.star>svg>path[type="star"]{ 
   fill: #F7D985;
}

.list>.star>svg>path[type="back"]{ 
fill-opacity: 0.2;
 
 } */
#rate>.vote .list>.star>svg {
     stroke:black;
 }

 #rate>.vote .list>.star>svg>path[type="star"] {
    fill: rgba(255,255,255,0.2);
    /* fill-opacity: 0.2; */
 }
 
 #rate>.vote .list>.star>svg>path[type="back"] {
    fill: rgba(0, 0, 0, 0.3);
 }

  /* .list>.star>svg:hover{ 
    stroke: rgba(247, 217, 133, 0.2);
}

 .list>.star>svg:hover .list>.star>svg>path[type="star"]{
    fill:  rgba(247, 217, 133, 0.2);
 }



.list>.star:active .list>.star>svg>path[type="star"]{ 
   fill: #F7D985;
}  */

.active {
    fill:  rgba(247, 217, 133)
}


.current-active {
    fill:  rgba(247, 217, 133)
}



.slideRight {
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
 
@keyframes slideRight {

    100%{
        transform: translate3d(200%, 0, 0);
    }
}
 
@-webkit-keyframes slideRight {
    80%{
        transform: translate3d(200%, 0, 0);
    }
}


.slideRight2{
    animation-name: slideRight2;
    -webkit-animation-name: slideRight2;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes slideRight2 {

    100% {
        transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes slideRight {
    80% {
        transform: translate3d(100%, 0, 0);
    }
}

.slideRight4 {
    animation-name: slideRight3;
    -webkit-animation-name: slideRight3;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes slideRight3 {

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes slideRight3 {
    80% {
        transform: translate3d(-100%, 0, 0);
    }
}

.slideRight5 {
    animation-name: slideRight4;
    -webkit-animation-name: slideRight4;

    animation-duration: 2s;
    -webkit-animation-duration: 2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    visibility: visible !important;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes slideRight4 {

    100% {
        transform: translate3d(-200%, 0, 0);
    }
}

@-webkit-keyframes slideRight3 {
    80% {
        transform: translate3d(-200%, 0, 0);
    }
}